*,::file-selector-button{
	margin:unset;
	padding:unset;
	@media(pointer:fine){
		scrollbar-width:none;
	}
}

&{
	line-break:strict;
	list-style-position:inside;
	overflow-wrap:break-word;
	text-align:justify;
	-webkit-text-size-adjust:none;
	text-underline-position:under;
	@media(prefers-color-scheme:dark){
		background-color:#000;
		color-scheme:dark;
	}
}

:where(:disabled),:where(:enabled),::file-selector-button{
	font:unset;
}

:where(a):where(:any-link){
	text-decoration:unset;
}

:where(a):where(:any-link):not(:where(:active)){
	color:unset;
}

@font-face{
	font-family:\ ;
	size-adjust:105.2%;
	src:local(arial);
}

@font-face{
	font-family:\ ;
	src:local(verdana);
	unicode-range:u+20;
}

&{
	line-height:1.5;
}

&:where(:lang(ja)){
	font-family:\ ,sans-serif;
	font-feature-settings:"palt";
}

/*
&>:where(body){
	display:flex;
	flex-direction:column;
	row-gap:1rem;
	padding-block:calc(.5rlh + .5rem);
	padding-inline:1rlh
}
*/

/*改修 ここから*/

&{
	font-family:arial,sans-serif;
	scroll-behavior:smooth;
}

&>:where(body){
	margin-block-start:3.5rem;
}

:where(img):where(.img01){
	display:block;
	margin-inline:auto;
	max-width:90%;
}

p:not(.self-introduction){
	margin-block:0;
}
p.self-introduction{
	line-height:2;
	margin-inline:auto;
	inline-size:min(600px,90%);
}
div.skill{
	display:flex;justify-content:space-between;margin:40px auto 80px;max-width:90%;width:1024px;
}
div.skill>div{
	background:#8ab3dc;border-radius:10px;color:#fff;width:100%;
}
div.skill>div>h3{
	border-bottom:solid 1px #fff;margin:20px;padding-bottom:10px;
}
h3.sampleheader{
	border-bottom:solid 1px #b7b7b7;color:#32839c;margin:80px auto 40px;padding-bottom:6px;width:1024px;max-width:90%;
}
div.gallery{
	display:flex;margin-left:auto;margin-right:auto;width:1024px;max-width:90%;
}
div.gallery>div>*{
	margin-left:auto;margin-right:auto;width:90%;
}
h4{
	background:#78a;color:#fff;font-size:14px;text-align:center;
}
div.gallery h4{
	letter-spacing:6px;margin-top:0;margin-bottom:4px;
}
div.gallery p{
	font-size:12px;line-height:20px;
}
@media(max-width:768px){
	h2{
		font-size:20px;
	}
	p.self-introduction{
		font-size:14px;line-height:24px;
	}
	div.skill{
		margin-top:20px;
	}
	div.gallery{
		flex-wrap:wrap;
	}
	div.gallery>div{
		width:50%;
	}
}
@media(max-width:499px){
	div.skill{
		flex-wrap:wrap;row-gap:10px;
	}
	div.gallery{
		row-gap:30px;
	}
	div.gallery>div{
		width:100%;
	}
	div.gallery>div>*{
		width:80%;
	}
}